* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background-color: #E0DFDF;
    display: flex;
    height: 100vh;
}
.container {
    display: flex; 
    height: 100vh; 
}

.barra-lateral {
    height: 99.8vh;
    position: fixed;
    width: 17vw;
}

.logo-blanco {
    width: 10vw;
    position: fixed;
    margin-top: 3.5vh;
    margin-left: 1vw;
}

.menu {
    position: fixed; 
    width: 16vw; 
    margin-top: 18vh; 
}

.opciones {
    width: 100%;
}

.opcion1,.opcion2 {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    height: 8vh;

}

.opcion1:hover, .opcion2:hover {
    background-color: #dddddd;
}

.iconos {
    width: 1.5vw;
    margin-right: 0.5vw;
    margin-left: 1vw;
}
#opciones {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 100;
}
a{
    text-decoration: none;
}
.imagenes-principales{
    position: absolute;
    left: 14vw;
}
#opcion-menu{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 100;
    cursor: pointer;
}
.contenido {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
}
.imagen-superior-lab {
    width: 108.6%;
    height: 37vh;
    margin-top: 1.5vh;
    margin-left: 2.3vw;
}
.recuadros-azules-con-iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10%; 
    position: relative;
    margin-left: 8vw;

}

.recuadros {
    margin: 0 10px;
    width: 18vw;
    transition: transform 400ms ease-in-out;
    position: relative;
    z-index: 1; 
}

.recuadros:hover {
    transform: scale(1.1);
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #262626;
    font-size: 130%;
    text-align: center;
}
.nom {
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130%;
    font-weight: lighter;
    position: absolute;
    margin-top:-34vh;
    margin-left: 4vw;
}
.boton-LogOut input{
    position: absolute;
    margin-top:-40vh;
    margin-left: 74.3vw;
    background-color: #d5d5d5;
    border: none;
    border-radius: 5px;
    padding: 0.4%;
    height: 4vh;
    cursor: pointer;
}
.resultados-laboratorio {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
    overflow: auto;
    margin-top: 5.5vh;
    width: 79.4vw;
}
.titulo{
    margin-bottom: 3vh;
    margin-top: 1vh;
}
.tabla-resultados {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.5vh;

}
.tabla-resultados th, .tabla-resultados td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.tabla-resultados th {
    background-color: #dcdcdc;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10vh;
    color: #2c2c2c;

}

.tabla-resultados tr:hover {
    background-color: #f9f9f9;
}
.btn-ver-detalles {
    padding: 5px 10px;
    background-color: #aa77bb;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.btn-ver-detalles:hover {
    background-color: #138496;
}
.buscador {
    display: flex;
    margin-bottom: 10px;
}
.botones-buscador{
    display: flex;
    gap: 1vw;
}
.buscador input {
    padding: 10px;
    border: 1px solid #b6b6b6;
    border-radius: 4px;
    flex: 1;
    margin-right: 1vw;
}

.btn-buscar, .btn-resetear {
    padding: 10px 15px;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 90%;
}
.btn-buscar {
    background-color: #2d5279;
    border: none;
    cursor: pointer;
}
.btn-resetear {
    background-color: #6c757d;
    border: none;
    cursor: pointer;
}
.btn-buscar:hover, .btn-resetear:hover {
    opacity: 0.9;
}

.btn-ordenar{
    background-color: #d6c0df;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
}
.tabla{
    position: absolute;
    margin-left: 14.1vw;
    margin-top: 45vh;
}