* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background-color: #E0DFDF;
    display: flex;
}

.container {
    display: flex; /* Contenedor flex */
    height: 100vh; /* Altura completa de la ventana */
}

.barra-lateral {
    height: 99.8vh;
    position: fixed;
    width: 15.5vw;
}

.logo-blanco {
    width: 10vw;
    position: fixed;
    margin-top: 3.5vh;
    margin-left: 1vw;
}

.menu {
    position: fixed; /* Mantener el menú estático */
    width: 12.3vw; 
    margin-top: 18vh; /* Espacio desde la parte superior */
}

.opciones {
    width: 100%;
}

.opcion1,.opcion2 {
    display: flex;
    justify-content: flex-start; /* Alinear a la izquierda */
    align-items: center;
    height: 8vh;

}

.opcion1:hover, .opcion2:hover {
    background-color: #dddddd;
}

.iconos {
    width: 1.5vw;
    margin-right: 0.5vw;
    margin-left: 1vw;
}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 100;
}

.contenido {
    margin-left: 15.5vw; /* Espacio para el menú */
    flex: 1; /* Ocupa el resto del espacio */
    display: flex;
    justify-content: center; /* Centra horizontalmente */

}

.imagen-superior-lab {
    width: 83vw; /* Ancho de la imagen */
    height: 37vh;
    margin-top: 5vh;
    position: absolute;
    margin-left: 81.5vw;
}
.boton-LongOut{
    z-index: 3;
    position: absolute;
    right: 2.6%;
    margin-top: 7.8vh;
    background-color: #63B1B7;
    height: 4vh;
    width: 8vw;
    border: none;
    border-radius: 5px ;
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.recuadros-azules-con-iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: 28%; 
    left: 56%; 
    transform: translateX(-50%); 
    z-index: 2; 
}
.recuadros {
    margin: 0 10px; /* Espaciado entre recuadros */
    width: 18vw;
    transition: width 700ms ease-in-out;
}
.recuadros:hover{
    width: 20vw;
}
#tabla-contenido{
    margin-top: 63vh;
    display: flex;
    flex-direction: column;

    width: 100%;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #262626;
    font-size: 130%;
}
.seccion-buscador{
    margin-top: 4vh;
    width: 100%;
    display: flex;
    gap: 3vw;

}
#buscador{
    width: 30vw;
    height: 4vh;
}
.boton{
    width: 7vw;
    height: 4vh;
    background-color: #bc65cf;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1vh;
}
.boton-resetear{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7vw;
    height: 4vh;
    background-color: #82e293;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 1vh;
    font-weight: 600;
    font-size: 90%;
}
.nom{
    position:absolute;
}